/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";


/* Products */

body {
	font-family: 'Josefin Sans', sans-serif;
	background-color: #F9E0D9;
}

body h1, body h4 {
	font-family: 'Josefin Sans', sans-serif;
}

.card {
	align-items: center;
	background-color: rgb(248, 248, 248);
	height: 400px;
}

.card-img-top {
	height: 250px;
	width: 300px;
}

.card-body {
	padding: 15px 0 0 0;
	width: 300px;
	text-align: center;
}

.card-title {
	margin: 0;
}

.cartbar {
	background-color: purple;
	text-align: right;
	padding: 8px 48px 8px 8px;
	position: sticky;
	font-size: 24px;
	color: white;
}

.form-edit {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 67%;
  width: 100%;
  opacity: 0;
  transition: 0.8s ease;
  background-color: #62aaa7;
  overflow: auto;
}

.card:hover .overlay {
  opacity: 0.9;
}

.text {
  color: black;
  font-size: .9rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 300px;
  padding-top: 20px;
  padding-bottom: 10px;
}

/* Checkout*/

a:hover {
	/*text-decoration: none !important;*/
	/*background: none;*/
	/*background-color: rgb(238, 132, 52) !important;*/
}

.link:visited {
	color: white;
}

.link:hover {
	/*color: #212529;*/
}


.formlabel {
	font-weight: bold;
	margin: 0;
}

.form-control {
	margin-bottom: 1em;
}

.noMarginBottom {
	margin-bottom: 0;
}

.StripeElement {
  width: auto;
}

.StripeElement--focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.InputElement {
	width: auto !important;
}

table {
	font-weight: bold;
}

th {
	padding-bottom: 0 !important;
}

td {
	vertical-align: middle !important;
}
.product-icon-container {
	width: 50px !important;
}

.bold {
	font-weight: bold;
}


/* Admin */

.transaction-show {
	margin: 0 auto;
}

.bg-main {
	background-color: #F9E0D9;
}

.product-btn, .cart-btn, .cart-checkout {
	background-color: #EE8434;
	color: white;
}

.product-btn:hover, .cart-btn:hover {
	background-color: #D97830;
}

.product-card h4, .product-card p {
	color: #822E81;
}

.close-btn {
	background-color: #C95D63;
	color: white;
}

.back-btn {
	position: fixed;
	bottom: 0;
	right: 0;
}

.border {
	border-width: 1px !important;
}

a:hover {
	background-color: transparent;
	text-decoration: none;
}